@import "../base/colores";

main {
    .bajologo {
        text-align: center;
        background-color: $color-terciario;
    }

    .main-container {
        @include display(flex, space-around)
    }

    .box-card {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .video-index {
        @include display(flex, center)
        margin: 3rem;
    }

}