@media screen and (max-width: 768px) {
    /*index*/
        .main-container{
            display: block !important;
        }
        .box-card {
            display: block !important;
            text-align: center !important;
            #img-index{
                width: 10rem !important;
                height: 10rem !important;
                padding-right: 5rem !important;
            }
        }
        .video-index {
            padding: 2rem;
        }
        /*Nosotros*/
        .div-nosotros{
            display: block !important;
            .img-nosotros{
                display: flex !important;
                justify-content: center !important;  
                margin-left: 4rem !important;
            }
            #parrafo-nos{
                padding-top: 0 !important;
                
            }
        }

        /*Productos*/
        .produc-container{
            display: block !important;
            .produc-item{
                margin-bottom: 3rem !important;
                margin-top: 1rem !important;
                
            }
            .parrafo-produc{
                width: 250px !important;
                height: 250px !important;
                margin-top: -4rem !important;
                padding-bottom: 2rem !important;
                text-align: start !important;
            }
            .img-produc{
                width: 250px !important;
                height: 250px !important;
                justify-content: center;
            }
        }

        /*galeria*/
        .imgCarrusel {
            width: 20rem !important;
            height: 15rem !important;
        }
        .btnCarrusel{
            margin-left: -2rem !important;
            margin-right: -2rem !important; 
        }
    
    }