@media screen and (max-width: 768px) {
    /*index*/
        .main-container{
            display: block;
        }
        .video-index {
            padding: 2rem;
        }
    /*galeria*/
        .imgCarrusel {
            width: 20rem;
            height: 20rem;
        }
    
    }