@import "../base/mixins";
@import "../base/colores";
@import "../base/fuentes";

main{
    section{
        h1{
            text-align: center;
            background-color: $color-terciario;
            font-family: 'Architects Daughter', cursive;
            font-weight: bold;
        }
    }
    section{
        margin: 5rem;
    .div-nosotros{
        @include display(flex, center)
        .img-nosotros{
            @include display(flex, center)
            padding-right: 4rem;
            img{
                height: 350px;
                width: 300px;
            }
        }
        .item-nosotros{
            display: flex;
            text-align: center;
            #parrafo-nos{
                height: 300px;
                width: 400px;
                padding-top: 6rem;
            }
        }
    }
}
}

